/*--------------------------------------------------*/
/*----------------- #buttons ---------------------- */
.btn
{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    color: #232323;
    background-color: #F8F8F8;
    border: 1px solid #CECECE;
    border-radius: 4px;
    padding: 5px 8px;
    margin:0 2px 2px 2px;
    height: 17px;
    min-width: 30px;
    font-size: 12px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    box-sizing: content-box;
    box-shadow: 0 2px 2px -2px #4A4A4A;
    -webkit-box-shadow: 0 2px 2px -2px #4A4A4A;
    -moz-box-shadow: 0 2px 2px -2px #4A4A4A;
    -o-box-shadow: 0 2px 2px -2px #4A4A4A;
}
.btn:focus {
    outline:none;
}
.btn.sm,.btn.smt
{
    padding: 3px;
    margin: 1px;
    min-width: 20px;
    min-height: 16px;
    font-size: 11px;
    border-radius: 3px;
}
.btn.smt{
    font-size: 12px;
}
.btn.long {
    padding-right: 20px;
    padding-left: 20px;
}
.btn.bg {
    height: 20px;
    min-width: 100px;
    font-size: 13px;
    padding: 8px;
}
.btn:hover 
{
    color: #000;
    background-color: #FFF;
    border-color: #D6D6D6;
    box-shadow: 0 2px 3px -2px #848484;
    -webkit-box-shadow: 0 2px 3px -2px #848484;
    -moz-box-shadow: 0 2px 3px -2px #848484;
    -o-box-shadow: 0 2px 3px -2px #848484;
}
.btn:active
{
    color: #000;
    background-color: #f5f5f5;
    border-color: #D6D6D6;
    box-shadow: 0 0 0 #DFDFDF;
    -webkit-box-shadow: 0 0 0 #DFDFDF;
    -moz-box-shadow: 0 0 0 #DFDFDF;
    -o-box-shadow: 0 0 0 #DFDFDF;
}
.btn.disabled,.btn:disabled
{
    color: #808080;
    background-color: #EAEAEA;/* #EBEBE4;*/
    border-color:#CECECE;
    cursor: default;
    box-shadow: 0 0 0 #DFDFDF;
    -webkit-box-shadow: 0 0 0 #DFDFDF;
    -moz-box-shadow: 0 0 0 #DFDFDF;
    -o-box-shadow: 0 0 0 #DFDFDF;
}
.btn:before
{
    content: normal;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -2px;
}
.txt-no-btn{
    padding: 5px 0 4px;
    display: block;
}
.txt-no-btn:before{
    content:"";
    display:inline-block;
}
.btn-cont
{
    display: inline;
    vertical-align: middle;
    cursor: pointer;
}
.btn.icon
{
    min-width: 45px;
    text-align: center;
}
.btn.white {
    background-color: #FFF;
    border-color: #B5B5B5;
}
.btn.white:hover {
    background-color: #FFFCF6;
}
.btn.white:active {
    color: #000;
    background-color: #FBFBFB;
    border-color: #D6D6D6;
}
.btn.white.disabled,.btn.white:disabled {
    color: #808080;
    background-color: #EAEAEA;/* #EBEBE4;*/
    border-color:#CECECE;
}
.btn.on {
    background-color: #F9EDD9;
}
.btn.on:hover {
    background-color: #FFF4E1;
}
.btn.on.disabled, .btn.on:disabled {
    background-color: #F9EDD9;
}
.btn.invers
{
    color: #F8F8F8;
    background-color: #3C3C3C; /*#F7F5EF*/
    border: 1px solid #343333;
}
.btn.invers:hover{
    color: #FFFFFF;
    background-color: #4a4a4a;
    border-color: #403f3f;
}
.btn.invers:active {
     color: #f1f1f1;
     background-color: #2e2e2e;
     border-color: #424040;
}
.btn.invers.disabled,.btn.invers:disabled 
{
    color: #BDBDBD;
  background-color: #575757;
  border-color: #525252;
}
.btn.green-light{
      color: #FFFFFF;
      background-color: #1EB826;
      border-color: #1caa23;
}
.btn.green-light:hover{
    color: #FFFFFF;
    background-color: #21c829;
    border-color: #20c128;
}
.btn.green-light:active {
     color: #f1f1f1;
     background-color: #59aa5d;
     border-color: #54a057;
}
.btn.green-light.disabled,.btn.green-light:disabled
{
    color: #FFFFFF;
    background-color: #99CF9D;
    border-color: #91BD93;
}
/* btns group */
.btn-group {
   font-size: 0;
   white-space: nowrap;
   box-shadow: 0 3px 3px -3px #525252;
   border-radius: 4px;
   margin:3px 1px;
   display: inline-block;
}
.btn-group>.btn {
    font-size: 12px;
    margin: 0;
    box-shadow: none;
    line-height: 14px;
}
.btn-group>.btn:not(:only-child):not(:first-child):not(:last-child) {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    border-right: none;
}
.btn-group>.btn:first-child:not(:only-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    border-right: none;
}
.btn-group>.btn:last-child:not(:only-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}
.btn-toggle {
    
}
.btn-toggle:after {
    content: '\f204';
    padding-left: 5px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.1em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
}
.btn.on .btn-toggle:after {
    content: '\f205';
}
/*-----------------------------------------table icons-----------------------------------------*/
.icon-cancel, .icon-edit, .icon-delete, .icon-done {
    cursor: pointer;
    font-size: 15px;
    display: inline-block;
    padding: 2px 4px;
    line-height: 15px;
}

.icon-done {
    color: #4BCD52;
}

.icon-cancel, .icon-delete {
    color: #FF6363;
}


.icon-cancel {
    font-size: 1.1em;
}

    .icon-cancel:before {
        transition: color .1s;
        color: #e88080;
    }

.cancel-c {
    cursor: pointer;
}

    .cancel-c:hover > .icon-cancel:before, .icon-cancel:hover:before {
        color: #e86666;
    }

.btn.disabled .icon-cancel {
    color: #f39f9f;
}

.btn:not(.disabled) .icon-cancel:hover:before, .btn:not(.disabled):hover .icon-cancel:before {
    cursor: pointer;
    color: #E84444;
}
/*-------------------  #media query ------------------- */
@media (max-width: 1200px){}
@media (max-width: 992px)
{
    .btn {
        font-size: 13px;
    }
    .btn.sm {
        font-size: 12px;
    }
}
@media (max-width: 700px) {
    .icon-cancel, .icon-edit, .icon-delete, .icon-done {
       border: 1px solid #bbbbbb;
        border-radius: 2px;
        padding: 3px 10px; 
    }
}
@media (max-width: 556px) {
    .btn {
        margin-bottom: 2px;
    }
    .btn.sm {
        padding: 5px;
    }
}
@media (max-width: 480px){}

